.row {
  margin: 0;

  div {
    padding: 0;
  }
}

.home-section {
  padding: ($base-size * 6) 0;
}

[class*="home-top-"] {
  height: 100px;
  border-radius: $radius;
}

[class*="home-top-link-"] {
  background-position: center center;
  background-size: cover;
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: $color-light;
    font-size: 24px;
    white-space: nowrap;
    transition: $transition;
  }

  &:hover {
    cursor: pointer;    
  }

  &:hover::after {
    top: 40%;
  }
}

.home-top-link-order {
  background-image: url('../../images/pizza-1.jpg');

  &::after {
    content: 'order online';
  }
}


.home-top-link-booking {
  background-image: url('../../images/pizza-2.jpg');

  &::after {
    content: 'book a table';
  }
}

.home-top-info {
  position: relative;
  background: $color-main;
  color: $color-light;
  text-align: center;
}

.home-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;

  h1 {
    font-size: 24px;
    margin: 0;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
  }
}

.slider-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: $radius;
}


.slider-description {
  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
  }

  p, h1, h2 {
    padding: 0 36px;
  }
}

.img-container {
  position: relative;
  
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: $radius;
  }

  ul {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: $radius;
    transition: $transition;
    opacity: 0;
    
    &:hover {
      background: $color-dark;
      opacity: 0.8;
    }

    li {
      display: inline-block;
      margin-top: 90px;
    }
  }

  i {
    font-size: 24px;
    color: $color-light;
    width: 30px;
    transition: $transition;
    
    &:hover {
      color: $color-main;
      cursor: pointer;
    }
  }
}

.home-bottom-link {
  padding-top: 20px;

  a {
    color: $color-main;
  }
}

.flatpickr-calendar {
  display: none;
}